<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jindam.app.common.mapper.HistoryLogMapper">

    <insert id="insertErrorLog" parameterType="HistoryLogRequestDto">
        /* HistoryLogMapper.insertErrorLog : 에러 로그 적재 */
        INSERT INTO tb_log_error (
            idx
            , request_info
            , create_id
            , create_at
        )
        VALUES (
            nextval('seq_tb_log_error_idx')
            , #{requestInfo}
            , #{createId}
            , #{createAt}
        )
    </insert>

</mapper> 