<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jindam.app.banner.mapper.BannerMapper">

    <select id="selectBanner" parameterType="BannerDetailRequestDto" resultType="BannerDetailResponseDto">
        SELECT
             tb.banner_id
            ,tb.banner_title
            ,tb.banner_content
            ,tb.banner_layer_height
            ,tb.display_start_at
            ,tb.display_end_at
            ,tb.sort_order
            ,tb.banner_type_code
            ,tb.banner_display_position_code
            ,tb.banner_display_target_code
            ,tb.banner_display_status_code
            ,tb.banner_display_time_code
            ,tb.banner_icon_code
        FROM tb_banner tb
        <where>
            AND tb.delete_yn = 'N'
        </where>
        ORDER BY sort_order
    </select>

</mapper>