<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jindam.app.notification.mapper.NotificationMapper">

    <select id="selectNotificationCenterDetailByUid" parameterType="NotificationCenterDetailRequestDto" resultType="NotificationCenterDetailResponseDto">
        SELECT
            tnc.notification_center_id,
            tnc.notification_topic,
            tnc.event_click,
            tnc.notification_type_code,
            tnc.notification_title,
            tnc.notification_content,
            tnc.receiver_uid,
            tnc.appointment_id,
            tnc.appointment_at,
            tnc.designer_name,
            tnc.user_name,
            tnc.create_at,
            tnc.create_id
        FROM tb_notification_center tnc
        <where>
            AND tnc.receiver_uid = #{receiverUid}
        </where>
    </select>

    <insert id="insertNotification" parameterType="NotificationInsertRequestDto">
        INSERT INTO tb_notification (
             notification_id
            ,receiver_uid
            ,notification_title
            ,notification_content
            ,notification_topic
            ,event_click
            ,create_at
            ,create_id
        ) VALUES (
                  nextval('seq_tb_notification'),
                  #{receiverUid},
                  #{notificationTitle},
                  #{notificationContent},
                  #{notificationTopic},
                  #{eventClick},
                  NOW(),
                  #{createId}
                         )
    </insert>

    <insert id="insertNotificationCenter" parameterType="NotificationInsertCenterRequestDto">
        INSERT INTO tb_notification_center (
             notification_center_id
           ,notification_topic
           ,event_click
           ,notification_type_code
           ,notification_title
           ,notification_content
           ,receiver_uid
           ,appointment_id
           ,appointment_at
           ,designer_name
           ,user_name
           ,create_at
           ,create_id
        ) VALUES (
            nextval('seq_tb_notification_center'),
            #{notificationTopic},
            #{eventClick},
            #{notificationTypeCode},
            #{notificationTitle},
            #{notificationContent},
            #{receiverUid},
            #{appointmentId},
            #{appointmentAt},
            #{designerName},
            #{userName},
            #{createAt},
            #{createId},
                         )
    </insert>

    <insert id="insertNotificationPush" parameterType="NotificationInsertPushRequestDto">
        INSERT INTO tb_user_push (
            user_push_id
            ,sender_uid
            ,receiver_uid
            ,push_title
            ,push_content
            ,send_at
            ,send_yn
            ,send_complete_at
            ,push_type_code
            ,push_link_val
            ,create_at
            ,create_id
        ) VALUES (
            nextVal('seq_tb_user_push'),
            #{senderUid},
            #{receiverUid},
            #{pushTitle},
            #{pushContent},
            #{sendAt},
            #{sendYn},
            #{sendCompleteAt},
            #{pushTypeCode},
            #{pushLinkVal},
            #{workAt},
            #{workId}
                         )
    </insert>

    <delete id="deleteNotificationPush" parameterType="NotificationDeletePushRequestDto">
        UPDATE tb_user_push
            <set>
                delete_yn = 'Y'
            </set>
        <where>
            sender_uid = #{senderUid}
            receiver_uid =#{receiverUid}
        </where>
    </delete>

</mapper>