<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jindam.app.user.userCommon.mapper.LoginMapper">

    <select id="loginUserByUid" parameterType="UserDetailRequestDto" resultType="UserDetailResponseDto">
            SELECT
                 user_email
                ,user_contact
                ,user_name
                ,user_nickname
                ,user_status_code
                ,user_gender_code
                ,user_agg_code
                ,user_type_code
                ,user_brdt
                ,user_join_type_code
                ,push_token
            FROM tb_user
            WHERE 1=1
             AND  uid = #{uid};
    </select>

    <update id="updateLastLoginByUid" parameterType="UserUpdateRequestDto">
        UPDATE tb_user
            <set>
                last_login_at = #{lastLoginAt}
            </set>
    </update>

</mapper>