<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jindam.app.shop.mapper.ShopMapper">

    <select id="selectListShop" resultType="ShopDetailResponseDto">
    /*ShopMapper.selectListShop*/
        SELECT
             ts.shop_id
            ,ts.shop_name
            ,ts.shop_description
            ,ts.shop_addr
            ,ts.shop_addr_detail
            ,ts.shop_contact
            ,ts.position_lngt
            ,ts.position_latt
            ,ts.zipcode
            ,ts.use_yn
            ,ts.create_at
            ,ts.create_id
        FROM tb_shop ts
        <where>
            AND ts.use_yn = 'Y'
        </where>
    </select>

    <select id="selectListShopById" parameterType="DesignerShopInsertRequestDto" resultType="DesingerShopDetailResponseDto">
        /*ShopMapper.selectListShopById*/
        SELECT
            tds.designer_shop_id
            , tds.uid
            , tds.shop_id
            , tds.shop_regist_type_code
            , tds.representative_yn
            , tds.shop_name
            , tds.shop_description
            , tds.shop_addr
            , tds.shop_addr_detail
            , tds.shop_contact
            , tds.position_lngt
            , tds.position_latt
            , tds.zipcode
            , tds.use_yn
            , tds.create_at
            , tds.create_id
            , tds.update_at
            , tds.update_id
            , ts.shop_id AS shp_shop_id
            , ts.shop_name AS shp_shop_name
            , ts.shop_description AS shp_shop_description
            , ts.shop_addr AS shp_shop_addr
            , ts.shop_addr_detail AS shp_shop_addr_detail
            , ts.shop_contact AS shp_shop_contact
            , ts.position_lngt AS shp_position_lngt
            , ts.position_latt AS shp_position_latt
            , ts.zipcode AS shp_zipcode
            , ts.use_yn AS shp_use_yn
            , ts.create_at AS shp_create_at
            , ts.create_id AS shp_create_id
        FROM tb_designer_shop tds
        LEFT JOIN tb_shop ts
            ON (
                tds.shop_id = ts.shop_id
                AND ts.delete_yn = 'N'
                AND ts.delete_at IS NOT NULL
                AND ts.delete_id IS NOT NULL
                AND ts.use_yn = 'Y'
            )
        WHERE tds.delete_yn = 'N'
            AND tds.delete_at IS NOT NULL
            AND tds.delete_id IS NOT NULL
            AND tds.use_yn = 'Y'
            AND tds.uid = #{uid}
    </select>

    <insert id="insertListShop" parameterType="DesignerShopInsertRequestDto">
        INSERT INTO tb_designer_shop(
             designer_shop_id
             ,uid
             ,shop_id
             ,shop_regist_type_code
             ,representative_yn
             ,shop_name
             ,shop_description
             ,shop_addr
             ,shop_addr_detail
             ,shop_contact
             ,position_lngt
             ,position_latt
             ,zipcode
             ,use_yn
             ,create_at
             ,create_id
            )
            VALUES (
                    nextval("seq_tb_designer_shop_designer_shop_id")
                   ,#{uid}
                   ,#{shopId}
                   ,#{shopRegistTypeCode.name()}
                   ,#{representativeYn}
                   ,#{shopName}
                   ,#{shopDescription}
                   ,#{shopAddr}
                   ,#{shopAddrDetail}
                   ,#{shopContact}
                   ,#{positionLngt}
                   ,#{positionLatt}
                   ,#{zipcode}
                   ,#{useYn}
                   ,NOW()
                   ,#{createId}
                   )
    </insert>

    <update id="updateListShop" parameterType="DesignerShopUpdateRequestDto">
        UPDATE tb_designer_shop
            <set>
                <if test="designerShopId != null">
                    designer_shop_id = #{designerShopId}
                </if>
                <if test="uid != null">
                    ,uid = #{uid}
                </if>
                <if test="shopId != null">
                    ,shop_id = #{shopId}
                </if>
                <if test="shopRegistTypeCode != null">
                    ,shop_regist_type_code = #{shopRegistTypeCode.name()}
                </if>
                <if test="representativeYn != null">
                    ,representative_yn = #{representativeYn}
                </if>
                <if test="shopName != null">
                    ,shop_name = #{shopName}
                </if>
                <if test="shopDescription != null">
                    ,shop_description = #{shopDescription}
                </if>
                <if test="shopAddr != null">
                    ,shop_addr = #{shopAddr}
                </if>
                <if test="shopAddrDetail != null">
                    ,shop_addr_detail = #{shopAddrDetail}
                </if>
                <if test="shopContact != null">
                    ,shop_contact = #{shopContact}
                </if>
                <if test="positionLngt != null">
                    ,position_lngt = #{positionLngt}
                </if>
                <if test="positionLatt != null">
                    ,position_latt = #{positionLatt}
                </if>
                <if test="zipcode != null">
                    ,zipcode = #{zipcode}
                </if>
                <if test="useYn != null">
                    ,use_yn = #{useYn}
                </if>
                <if test="createAt != null">
                    ,create_at = #{createAt}
                </if>
                <if test="createId != null">
                    ,create_id = #{createId}
                </if>
                ,update_at
                ,update_id
            </set>
        <where>
            AND uid = #{uid}
            AND designer_shop_id = #{designerShopId}
            AND use_yn = 'Y'
        </where>
    </update>

    <update id="deleteListshop" parameterType="DesingerShopDeleteRequestDto">
        UPDATE tb_designer_shop
        <set>
            delete_yn = #{deleteYn}
            delete_at = NOW()
            delete_id = #{deleteId}
        </set>
        <where>
            AND uid = #{uid}
            AND designer_shop_id = #{designerShopId}
        </where>
    </update>

</mapper>